apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo-db-deployment
  namespace: mongo-dev
  labels:
    app: mongo-db
spec:
  selector:
    matchLabels:
      app: mongo-db
  template:
    metadata:
      app: mongo-db
    spec:
      containers:
      - name: mongo-db
        image: mongo
        ports:
        - containerPort: 27017
        env:
        - name: MONGO_INITDB_ROOT_USERNAME
          valueFrom:
            secretKeyRef:
              name: mongodb-secret
              value: mongo-root-username
        - name: MONGO_INITDB_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mongodb-secret
              value: mongo-root-password
        volumeMounts:
        - name: mongo-db-volume
          mountPath: /var/lib/mongo
      volumes:
      - name: mongo-db-volume
        persistentVolumeClaim:
          claimName: mongo-db-pvc

