apiVersion: app/v1
kind: Deployment
metadata:
  name: mysql-deployment
  labels:
    db: mysql
spec:
  replicas: 2
  selector:
    matchLabels:
      db: mysql
  template:
    metadata:
      labels:
        db: mysql
    spec:
      containers:
      - name: mysql
        image: mysql
        ports:
        - containerPort: 3306