apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs-deployment
  labels:
    app: nodejs
    namespace: nodejs-prod
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nodejs
  template:
    metadata:
      labels: 
        app: nodejs
    spec:
      containers:
      - name: nodejs
        image:  nodejs
        ports:
        - containerPort: 8888
        env:
        - name: MYSQL_USER
          valueFrom:
            secretKeyRef:
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: mydql-user
          key: mysql-user
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: mysql-password
        - name: MYSQL_DATA_URL
          valueFrom:
            configMapKeyRef:
              name: mysql-configmap
              key: database_url
        
